*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
*:hover{
    cursor: url('../images/mouse.png'), pointer;
}
body{
    position: relative;
}
#mouse{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -100px;
    left: -100px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 99999;
    pointer-events: none;
    transition:width 0.2s,height 0.2s;
}
/* 主页开始 */
/* 隐藏滚动条 */
::-webkit-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
    display: none; /* Chrome Safari */
  }
