#mywork{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}
#mywork .page{
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: white;
    border: 1px solid black;
}
/* 主页内容 */
#mywork .page:nth-child(2){
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top center,#718497,#29323c)
}
/* 博物馆内容开始 */
#mywork .page:nth-child(3){
    background: rgb(230, 230, 230)
}
#mywork .page:nth-child(4){
    background: rgb(210, 210, 210)
}
#mywork .page:nth-child(5){
    background: rgb(190, 190, 190)
}
/* 小区规划开始 */
#mywork .page:nth-child(6){
    background: rgb(170, 170, 170)
}
#mywork .page:nth-child(7){
    background: rgb(150, 150, 150)
}
#mywork .page:nth-child(8){
    background: rgb(130, 130, 130)
}
#mywork .page:nth-child(9){
    background: rgb(110, 110, 110)
}
#mywork .page:nth-child(10){
    background: rgb(90, 90, 90)
}
#mywork .page:nth-child(11){
    background: rgb(70, 70, 70)
}
#mywork .page:nth-child(12){
    background: rgb(50, 50, 50)
}
#mywork .page:nth-child(13){
    background: rgb(100, 100, 100)
}
#mywork .page:nth-child(14){
    background: rgb(120, 120, 120)
}
#mywork .page:nth-child(15){
    background: rgb(150, 150, 150)
}
#mywork .page:nth-child(16){
    background: rgb(170, 170, 170)
}
#mywork .page:nth-child(17){
    background: rgb(110, 110, 110)
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: calc(50vh - 300px);
    left: 94vw;
    height: 600px;
    width: 100px;
    transition: all 0.2s;
}
.content ul{
    position: relative;
}
.content ul li{
    margin: 50px 0;
    list-style: none;
}
.content ul li a{
    font-family: 微软雅黑,MingLiu;
    position: relative;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 5px;
    user-select:none;
}
.lumion{
    color: rgb(214,214,214);
}
#ctnLine{
    position: absolute;
    left: 90%;
    top: 50px;
    width: 5px;
    height: 30px;
    background-color: rgb(128, 128, 128);
    transition: all 0.2s ease-in-out;
}